<!DOCTYPE html>
<html>
  <head>
    <!-- <title>RailsIntro</title> -->
    <title>Styles Conference</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet"
    href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
